# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
simple_recipes/db/recipes/__pycache__/

# Environments
venv/
.venv/
.env
.flaskenv

# local development stuff
dev/
.vscode/

# key
fullchain.pem
privkey.pem