beautifulsoup4
click
Flask
Flask-Login
Flask-Markdown
flask-talisman
Flask-WTF
gunicorn
itsdangerous
Jinja2
lxml
Markdown
MarkupSafe
packaging
passlib
Pillow
Pint
psycopg2
pyparsing
PyQRCode
python-dotenv
scrypt
six
soupsieve
Werkzeug
WTForms
