beautifulsoup4
click
Flask==1.1.2
Flask-Login==0.5.0
Flask-Markdown==0.3
flask-talisman==0.7.0
Flask-WTF==0.14.3
gunicorn
itsdangerous
Jinja2==2.11.2
lxml
Markdown
MarkupSafe==1.1.1
packaging
passlib
Pillow
Pint
psycopg2
pyparsing
PyQRCode
python-dotenv
scrypt
six
soupsieve
Werkzeug
WTForms==2.3.3
