{% extends "_base.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}

<h1>Change Password</h1>

<dl>
    <dt>Current Username</dt>
    <dd>{{ current_user.id }}</dd>
</dl>

<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    {{ form.current_pw.label }}             {{ form.current_pw(required='required') }}
    {{ form.new_pw.label }}                 {{ form.new_pw(required='required') }}
    {{ form.new_pw_confirmation.label }}    {{ form.new_pw_confirmation(required='required') }}

    <input type="submit" text="Change Password" />
</form>

<script type="text/javascript">
    // polyfill for RegExp.escape
    if(!RegExp.escape) {
        RegExp.escape = function(s) {
            return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
        };
    }

    document.addEventListener("DOMContentLoaded", function() {
      // HTML5 form validation
      var supports_input_validity = function()
      {
        var i = document.createElement("input");
        return "setCustomValidity" in i;
      }
  
      if(supports_input_validity()) {
        var pwd1Input = document.getElementById("{{ form.new_pw.id }}");
        var pwd2Input = document.getElementById("{{ form.new_pw_confirmation.id }}");
  
        // input key handlers
        pwd1Input.addEventListener("keyup", function(e) {
          if(this.checkValidity()) {
            pwd2Input.pattern = RegExp.escape(this.value);
            pwd2Input.setCustomValidity(pwd2Input.title);
          } else {
            pwd2Input.pattern = this.pattern;
            pwd2Input.setCustomValidity("");
          }
        }, false);
  
        pwd2Input.addEventListener("keyup", function(e) {
          this.setCustomValidity(this.validity.patternMismatch ? pwd2Input.title : "");
        }, false);
      }
  
    }, false);
  
  </script>

{% endblock content %}