{% extends "recipes/recipe_base.html" %}
{% block title %}
	{{ data['recipe_name'] }} - Edit
{% endblock %}

{% block recipe %}
	<form method="POST">
		{{ form.csrf_token }}
		{{ form.created_by }}
		
		{{ form.recipe_name.label }}
		{{ form.recipe_name(value=data['recipe_name']) }}
		
		{{ form.recipe_desc.label }}
		{{ form.recipe_desc }}
		
		{{ form.servings.label }}
		{{ form.servings }}
		
		{{ form.total_time_minutes.label }}
		{{ form.total_time_minutes }}
		<input type="submit" value="Save" />
	</form>
	<a href="{{ url_for('get_recipe', 
		recipe_id=data['recipe_id']) }}">
		Return to recipe
	</a>
{% endblock recipe %}