{% extends "recipes/recipe_base.html" %}
{% block title %}New Recipe{% endblock %}

{% block recipe %}

    <script>
        const quantity_pattern = {{ quantity_regex }}

        {% raw %}
        const token_pattern = /({{\s*)|(\s*}+)/gmi;

        function untokenify_string(s) {
            return s.replace(token_pattern, '')
        }
        
        function tokenify_string(s) {
            s = untokenify_string(s);
            return s.replace(quantity_pattern, '{{ $1 }} ')
        }
        {% endraw %}
    </script>

    <form method="POST">
    {{ form.csrf_token }}
    {{ form.created_by }}
    
    {{ form.recipe_name.label }}
    {{ form.recipe_name }}
    
    {{ form.recipe_desc.label }}
    {{ form.recipe_desc }}
    
    {{ form.servings.label }}
    {{ form.servings }}
    
    {{ form.total_time_minutes.label }}
    {{ form.total_time_minutes }}

    {{ form.recipe_tags.label }}
	{{ form.recipe_tags(size=20) }}
{% endblock recipe %}

{% block ingredients %}
    {{ form.recipe_ingredients }}
    
    <button id="tokenify_ingr" type="button">
        Tokenify
    </button>

    <button id="untokenify_ingr" type="button">
        Remove Tokens
    </button>
    
    <script>
        const ing_input = document.getElementById(
            "{{ form.recipe_ingredients.id }}");
        {% raw %}
        document.getElementById("tokenify_ingr").
            onclick = tokenify_ingr;

        document.getElementById("untokenify_ingr").
            onclick = untokenify_ingr;

        function untokenify_ingr() {
            ing_input.value = untokenify_string(ing_input.value);
        }
        
        function tokenify_ingr() {
            ing_input.value = tokenify_string(ing_input.value);
        }
        {% endraw %}
    </script>
{% endblock ingredients %}

{% block instructions %}
	{{ form.recipe_instructions }}
    <input type="submit" value="Add Recipe" />
    </form>
{% endblock instructions %}

{% block images %}    
    {#
    <script src="{{ url_for('static', filename='drag_drop.js') }}"></script>
    #}
{% endblock %}